/* 피드 작성 및 수정 헤더 */
.sns-write-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3%;
}

/* 피드 작성 및 수정 헤더 글 내용 */
.sns-write-title {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 피드 작성하기 제목 아이콘 */
.sns-write-title-icon {
  width: 5rem;
  animation: float 3s ease-in-out infinite;
}

form {
  width: 100%;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1%;
}

.preview-image {
  position: relative;
  width: calc(33.33% - 10px);
}

.square {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.square img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.file-upload {
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.file-upload img {
  width: 2rem;
  height: 2rem;
  margin-bottom: 10px;
}

.featurette-divider {
  margin: 2rem 0;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 참고한 레시피 (02.14) */
.reference-recipe {
  margin-top: 25px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1rem; /* 'x' 표시의 크기 */
  border: none;
  background: transparent;
  color: white;
}
