/* FeedWrite.jsx의 이전으로에도 쓰임 */
.back-button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  margin: 0 !important;
  padding: 0;
}

/* 피드 상세보기 페이지 뒤로가기 버튼 (02.15) */
.sns-detail-back-button {
  align-self: flex-start;
  background: none;
  border: none;
}

.icon,
.back-button-icon {
  width: 3rem;
}


/* 피드 상세보기 */
.sns-detail {
  display: flex;
  flex-direction: column;
  /* gap: 1%; */
  margin-top: 0.7rem;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-left: 1%;
  margin-right: 1%;

  justify-content: center;
  align-items: stretch;
}

.user-info-feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

.profile-container-feed {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  gap: 10px; /* 프로필 이미지와 사용자 이름 사이의 간격 */
}

.profile-image1 {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
}

/* 프로필 이미지 크기를 유지하면서 조정 */
.profile-image1 img {
  object-fit: cover;
}

.sns-username {
  font-size: 2rem; /* 사용자 이름의 폰트 크기 설정 */
  font-weight: bold;
  font-family: 'SOYO Maple Regular';
}

.image-container1 {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.image-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

/* 좋아요 및 댓글 */
.likes-comments {
  display: flex; /* 아이콘들을 가로로 정렬 */
  align-items: center; /* 아이콘들을 세로로 중앙 정렬 */
}

.likes-comments img {
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  margin-right: 10px;
}

.likes-comments span {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 1rem;
  margin-bottom: 20px;
  font-family: 'KCC-Hanbit';
}
.description strong{
  font-family: 'SOYO Maple Regular';
}

.comment-author {
  font-weight: bold;
}

.comment-text {
  margin-left: 10px;
}

.carousel-container {
  flex: 1;
  max-width: 45%;
  aspect-ratio: 1;
  margin-top: 1.7rem;
  overflow: hidden;
}

/* 이미지 */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;

  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지하면서 잘 맞추기 */
}

.indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator-dot {
  width: 10px;
  height: 10px;
  background-color: lightgray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator-dot.active {
  background-color: rgb(255, 204, 0);
}

.image-counter {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.7rem;
}

.comment-time {
  display: block;
  font-size: 12px;
  color: gray;
}

.comment-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}
.comment-button span{
  font-family: 'KCC-Hanbit';
}
.likes-comments span{
  font-family: 'KCC-Hanbit';
}

.comment-button img {
  width: 50px;
  height: 50px;
}

/* 슬라이드 효과 */
.comment-slide.show {
  transform: translateY(0);
  transition: transform 0.8s ease-out;
}

.comments-section {
  padding: 20px;
  overflow-y: auto;
}

.comment {
  margin-bottom: 15px;
}


.contents {
  flex: 1;
  max-width: 55%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 2rem;
}

hr {
  width: 100%;
  margin: 1.2rem 0;
}

/* 피드 수정 및 삭제 관련 */
.edit-button1 {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.edit-button1 img {
  width: 100%; /* 이미지 너비를 버튼 크기에 맞춤 */
  height: 100%; /* 이미지 높이를 버튼 크기에 맞춤 */
  object-fit: contain; /* 이미지 비율을 유지하면서 크기 조정 */
}

.dropdown-menu {
  position: absolute;
  right: 0;
  margin-right: 40px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 120px;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  font-size: 1.45em;
  text-align: center;
  padding: 10px 12px;
  cursor: pointer;
  white-space: nowrap;
  touch-action: manipulation;
  display: block;
  font-family: 'omyu_pretty';
}

.dropdown-item:active {
  background: #fef6ff; /* 클릭할 때 색상 변경 */
}


.linked-recipe {
  flex-direction: column;
}

.recipe-image-sns {
  width: 100%;
  border-radius: 8px; /* 모서리 둥글게 */
}
.recipe-title1 {
  white-space: normal; /* 기본 값, 줄 바꿈 허용 */
  text-overflow: clip; /* 텍스트 자르기 */
  font-size: 2rem;
}
.recipe-info {
  width: 100%;
  padding-right: 20px;
}

/* 레시피 디테일 내용 폰트 (02.16) */
.feed-detail-my-text p {
  font-size: 1.5rem;
}

.hash-tage-recipe-name {
  color: #044778;
  font-family: 'LotteMartDream';
}

.recipe-tooltip {
  float: right;
  padding: 0.6rem;
  padding-right: 1rem;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(135deg, #b3c77e, #8c9f58);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  z-index: 10;
}

.recipe-tooltip:active {
  background: linear-gradient(135deg, #8c9f58, #b3c77e);
  transform: scale(1.05);
}

/* 참고한 레시피 */
.recipe-tooltip p {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'omyu_pretty';
}

/* 댓글 토글 위치 조정 문제 */
.comment-slide {
  position: fixed; /* 화면 상단에서 고정된 위치로 표시되도록 */
  top: 6%;
  right: 6%;
  width: 100%;
  max-width: 40rem;
  height: 100vh;
  z-index: 500;
}


@media screen and (max-width: 800px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .carousel-image {
    min-height: 60vh;
  }
  
  .comment-slide {
    left: 3%;
    top: 35%;
    max-width: 94%;
  }

  .carousel-container {
    max-width: 100%;
    aspect-ratio: auto;
  }

  .content {
    min-width: 100%;
    margin-top: 2rem;
  }

  .profile-image1 {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden;
  }

  .sns-username {
    font-size: 1.3rem;
    
    /* font-weight: bold; */
  }

  .likes-comments {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .icon,
  .back-button-icon {
    width: 1.5rem;
    margin-bottom: 2%;
  }

  .edit-button1 {
    width: 1.3rem;
  }

  .likes-comments img {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .likes-comments span {
    font-size: 1rem;
    font-weight: bold;
  }

  .feed-detail-my-text p {
    font-size: 1rem;
  }

  /* 참고 레시피 관련 */
  .recipe-tooltip p {
    margin: 0;
    font-size: 0.8rem;
  }
  
  .recipe-tooltip {
    max-width: 10rem;
  }

  .carousel-image {
    min-height: 40vh;
  }
}