/* 피드 작성 및 수정 헤더 */
.sns-write-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3%;
}

/* 피드 작성 및 수정 헤더 글 내용 */
.sns-write-title {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "HakgyoansimDunggeunmisoTTF-B";
}

/* 피드 작성하기 제목 아이콘 */
.sns-write-title-icon {
  width: 5rem;
  animation: float 3s ease-in-out infinite;
}

form {
  width: 100%;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1%;
}

.preview-image {
  position: relative;
  width: calc(33.33% - 10px);
}

.square {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.square img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.file-upload {
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'MangoDdobak-B';
}

.file-upload img {
  width: 2rem;
  height: 2rem;
  margin-bottom: 10px;
}

.featurette-divider {
  margin: 2rem 0;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'omyu_pretty';
}

.reference-recipe {
  margin-top: 25px;
}

.button-container {
  display: flex;
  gap: 10px;
  font-family: 'omyu_pretty';
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1rem; /* 'x' 표시의 크기 */
  border: none;
  background: transparent;
  color: white;
}

/* SNS피드 작성 및 수정 참고 레시피  (02.15) */
.sns-reference-recipe {
  background-color: #3b3b3b !important;
  color: rgb(244, 244, 244);
  font-size: 1.1em;
  padding: 0.5em 1em;
  display: flex;  /* flex 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: space-between; /* 내용과 X 버튼을 양 끝으로 배치 */
  overflow: hidden;
  margin-bottom: 5px;
  border-radius: 8px;
  font-family: 'omyu_pretty';
}

.feed-recipe-close-btn {
  cursor: pointer;
  flex-shrink: 0; /* X 버튼이 줄어들지 않도록 설정 */
  margin-left: 0.5em; /* 텍스트와 간격 확보 */
}

.sns-reference-recipe .sns-reference-recipe-title{
  flex-grow: 1; /* 텍스트가 가능한 만큼 차지하도록 설정 */
  min-width: 0; /* flexbox 내에서 말줄임 처리가 가능하도록 설정 */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'PTBandocheB';
}

.context-h5 {
  font-family: "NPSfont_regular";
}

.bookmark-find-button {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 2px 10px;
  font-size: 1rem;
  background-color: #f8f8f8;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.feed-save-button {
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #ff9c11, #fbc77f);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.feed-update-button {
  padding: 0.7rem 1rem;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  background: linear-gradient(135deg, #8bc1ff, #66a2e6);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

@media screen and (max-width:800px) {
  .sns-write-title-h2 {
    font-size: 2.3rem;
  }
}

@media screen and (max-width:500px) {
  .feed-save-button,
  .feed-update-button {
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
  }
}