.div-80 {
  width: 80%;
}
form {
  width: 80%;
  margin: 0 auto;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.preview-image {
  position: relative;
  width: calc(33.33% - 10px);
}

.square {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.square img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.file-upload {
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.file-upload img {
  width: 2rem;
  height: 2rem;
  margin-bottom: 10px;
}

.featurette-divider {
  margin: 2rem 0;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Existing styles */

.recipe-section {
  margin-top: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Add other styles as needed */
.card-div-write {
  background-color: rgb(255, 255, 255);
  width: 95%; /* 수평 공간 전체를 차지 */
  padding: 20px 0; /* 상하 패딩을 늘려서 높이를 증가 */
  display: flex; /* 자식 요소 정렬을 위한 플렉스박스 */
  justify-content: center; /* 자식 요소를 수평 가운데 정렬 */
  border-radius: 50px; /* 아래 두 꼭지점만 둥글게 설정 */
  height: auto; /* 높이를 패딩에 따라 유동적으로 설정 */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08), 0 -10px 15px rgba(0, 0, 0, 0.3); /* 상단 그림자 더 강조 */
}
.recipe-badge {
  position: relative;
  display: inline-block;
  font-size: 1.2rem; /* 뱃지의 크기를 키웁니다 */
  margin-bottom: 10px;
}

.recipe-badge .close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1rem; /* 'x' 표시의 크기 */
  border: none;
  background: transparent;
  color: white; /* 필요에 따라 색상 조정 */
}
