.modal-content {
    width: 80vw;
    height: 80vh;
  }
  
  .bookmark-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .bookmark-card {
    flex: 0 0 30%; /* 3개씩 보이도록 30%로 설정 */
    margin: 10px;
    text-align: center;
  }
  
  .bookmark-card img {
    max-width: 100%;
    height: 150px; /* 이미지 높이를 고정하여 일관된 높이 유지 */
    object-fit: cover;
  }
  
  .carousel-item {
    display: flex;
    justify-content: center;
  }
  
  .carousel-caption {
    position: static;
    padding-top: 10px;
  }
  
  @media (max-width: 768px) {
    .modal-content {
      width: 90vw;
      height: 90vh;
    }
  
    .bookmark-card {
      flex: 0 0 45%; /* 작은 화면에서는 2개씩 보이도록 45%로 설정 */
      margin: 5px;  /* 마진을 줄여서 더 많은 공간 활용 */
    }
  }
  
  @media (max-width: 480px) {
    .modal-content {
      width: 95vw;
      height: 95vh;
    }
  
    .bookmark-card {
      flex: 0 0 90%; /* 더 작은 화면에서는 1개씩 보이도록 90%로 설정 */
      margin: 5px;  /* 마진을 줄여서 더 많은 공간 활용 */
    }
  }
  