.cooking-done-container {
  background-image: url("/images/backgroundImage.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 2vh;
  text-align: center;
  color: #fff;
  margin-top: -2vh;
}

.cooking-done-container h2 {
  font-family: "MyCustomFont";
  font-size: 3.5vw; /* 반응형 글꼴 크기 */
  color: #000000;
  margin-bottom: 10vh; /* 텍스트를 위로 조정하기 위해 여백 조정 */
  text-shadow: 0.2vw 0.2vw 0.4vw #000000; /* 반응형 텍스트 그림자 */
}

.done-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw; /* 버튼 간격 */
  margin-top: 2vh;
}

.done-close-button {
  background-color: transparent;
  border: none;
  padding: 0; /* 패딩 제거 */
  cursor: pointer;
  margin: 1vh;
  transition: transform 0.3s ease;
}

.feedwrite-done-button:hover,
.done-close-button:hover {
  transform: translateY(-0.5vh);
}

.feedwrite-done-button:active,
.done-close-button:active {
  transform: translateY(0.5vh);
}

.button-image {
  width: 5vw; /* 이미지 크기 줄임 */
  height: auto;
}

.comparison-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.representative-image,
.cooked-dish-image {
  width: 40vw; /* 반응형 너비 */
  height: 45vh; /* 반응형 높이 */
  border-radius: 1vw; /* 반응형 테두리 반경 */
  margin: 1vh;
}

.cooked-dish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-frame {
  width: 40vw; /* 반응형 너비 */
  height: 45vh; /* 반응형 높이 */
  border: 0.1vw solid #ccc; /* 얇은 틀 */
  border-radius: 1vw; /* 반응형 테두리 반경 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.camera-icon {
  width: 10vw; /* 반응형 너비 */
  height: auto; /* 비율 유지 */
  position: absolute;
}

.file-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.cooked-dish-canvas {
  width: 40vw; /* 반응형 너비 */
  height: 45vh; /* 반응형 높이 */
  border-radius: 1vw; /* 반응형 테두리 반경 */
  margin: 1vh;
}

.finish-cook-text p {
  position: absolute;
  font-family: "MyCustomFont";
  top: 25%;
  right: 18%;
  color: #000000;
  font-size: 2vw; /* 폰트 사이즈 줄임 */
}

.done-button-container button {
  color: #000000;
  font-family: "MyCustomFont";
  font-weight: bolder;
}

.done-edit-button {
  position: absolute;
  top: 0%; /* 적절한 위치 조정 */
  right: 0%; /* 적절한 위치 조정 */
  background-color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1vw; /* 반응형 크기 */
  border-radius: 0.5vw; /* 테두리 반경 */
  transition: transform 0.3s ease;
}

.edit-button:hover {
  transform: scale(1.1);
}

.edit-button:active {
  transform: scale(0.9);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1vw; /* 반응형 테두리 반경 */
}

.overlay-button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 1vw; /* 반응형 크기 */
  border-radius: 0.5vw; /* 테두리 반경 */
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  width: 15vw; /* 버튼의 고정 너비 */
  height: 7vh; /* 버튼의 고정 높이 */
  justify-content: center;
}

.overlay-button img {
  width: 1.5vw; /* 이미지 크기 줄임 */
  height: auto;
  margin-left: 10px; /* 아이콘과 텍스트 사이 간격 */
}

.overlay-button:hover {
  transform: scale(1.1);
}

.overlay-button:active {
  transform: scale(0.9);
}
