.card-div-done {
  background-image: url("/images/frame.png"); /* 이미지 경로 설정 */
  background-size: 97% 96%; /* 이미지를 페이지 크기에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  width: 100%; /* Occupy the entire horizontal space */
  height: 100%;
  display: flex; /* Flexbox 추가 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  padding: 2rem;
}

.cooking-done-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  border-radius: 20px;
  text-align: center;
}

.cooking-done-container h2 {
  font-family: "MyCustomFont";
  font-size: 3.5vw;
  color: #000000;
  margin-bottom: 10vh;
}

.done-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 2vh;
}

.done-close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 1vh;
  transition: transform 0.3s ease;
}

.feedwrite-done-button:hover,
.done-close-button:hover {
  transform: translateY(-0.5vh);
}

.feedwrite-done-button:active,
.done-close-button:active {
  transform: translateY(0.5vh);
}

.button-image {
  width: 5vw;
  height: auto;
}

.comparison-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.representative-image,
.cooked-dish-image {
  width: 40vw;
  height: 45vh;
  border-radius: 1vw;
  margin: 1vh;
}

.cooked-dish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-frame {
  width: 40vw;
  height: 45vh;
  border: 0.1vw solid #ccc;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.camera-icon {
  width: 10vw;
  height: auto;
  position: absolute;
}

.camera-text {
  position: absolute;
  top: 65%;
  color: #000000;
  font-size: 1.5vw;
}

.file-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.cooked-dish-canvas {
  width: 40vw;
  height: 45vh;
  border-radius: 1vw;
  margin: 1vh;
}

.done-button-container button {
  color: #000000;
  font-family: "MyCustomFont";
  font-weight: bolder;
}

.done-edit-button {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1vw;
  border-radius: 0.5vw;
  transition: transform 0.3s ease;
}

.edit-button:hover {
  transform: scale(1.1);
}

.edit-button:active {
  transform: scale(0.9);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
}

.overlay-button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 1vw;
  border-radius: 0.5vw;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  width: 15vw;
  height: 7vh;
  justify-content: center;
}

.overlay-button img {
  width: 1.5vw;
  height: auto;
  margin-left: 10px;
}

.overlay-button:hover {
  transform: scale(1.1);
}

.overlay-button:active {
  transform: scale(0.9);
}
