.cooking-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* 화면 전체 높이 */
  overflow: hidden; /* 스크롤되지 않도록 설정 */
}

.top-half,
.bottom-half {
  flex: 1; /* 상단 및 하단 영역 50% */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 영역을 초과하는 콘텐츠를 숨기기 */
}

.top-half > *,
.bottom-half > * {
  max-height: 100%;
  max-width: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
