.hand-tutorial-container {
  display: flex;
  flex-direction: column; /* 상단의 헤더와 좌우 컨텐츠를 분리하기 위해 컬럼 방향으로 정렬 */
  width: 100%;
  height: 100vh; /* 전체 화면 높이 */
  background-position: center; /* Center the background image */
  background-image: url("/images/handtutorial.png");
  background-size: cover; /* 배경 이미지가 전체 컨테이너를 덮도록 설정 */
  position: relative; /* for absolute positioning of children */
}

.arrow-button {
  background: none;
  border: none;
  position: absolute;
  top: 50%; /* Vertical center */
  transform: translateY(-50%); /* Adjust for exact center */
}

.prev-arrow {
  left: 10px; /* Adjust as necessary */
}

.next-arrow {
  right: 10px; /* Adjust as necessary */
}

.handtuto-skip-button {
  background-color: #e66363; /* Light gray background */
  border: 2 solid #000000; /* Darker gray border */
  color: black; /* Black text */
  position: absolute;
  bottom: 18%; /* Adjust as necessary */
  right: 4%; /* Adjust as necessary */
  z-index: 1009; /* High z-index to be on top */
  padding: 10px 20px; /* Optional padding for better appearance */
  border-radius: 5px; /* Optional rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-family: "MyCustomFont";
  width: 14%;
}
