.hand-tutorial-container {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  width: 100%;
  height: 100%;
  background-image: url("/images/조리과정_백그라운드이미지.png");
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the background image */
}

.hand-tutorial-right {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 0.5em;
  /* background-color: aqua; */
}

.hand-tutorial-left {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 0.5em;
  /* background-color: rgb(255, 255, 255); */
}

.hand-tutorial-left .handmotion-div,
.hand-tutorial-left .handmotion-info-div {
  width: 100%;
  height: 50%; /* Each takes up half the height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.handmotion-gif {
  width: 50%;
  height: 100%;
}

.hand-tutorial-right .speaking-div,
.hand-tutorial-right .speaking-info-div {
  width: 100%;
  height: 50%; /* Each takes up half the height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
}
.speaking-gif {
  width: 50%;
  height: 100%;
}

.speaking-info-div-left,
.speaking-info-div-right {
}
