.parent-container {
  display: flex;
  justify-content: center;
}
.recipe-write-container {
  width: 95%;
  /* max-width: 700px; */
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08), 0 -10px 15px rgba(0, 0, 0, 0.3);
}

/* 헤더 컨테이너 */
.recipe-header {
  display: flex;
  align-items: center;
  justify-content: center; /* 제목을 정확히 중앙에 배치 */
  position: relative;
  width: 100%;
  padding: 15px 0;
}

/* 뒤로가기 버튼 (왼쪽 정렬) */
.back-button {
  position: absolute;
  left: 15px;
}

/* 레시피 등록 제목 (중앙 정렬) */
.recipe-title {
  font-size: 40px;
  font-weight: bold;
  max-width: 60%; /* 최대 너비 제한 */
  text-align: center;
}


/* 입력 섹션 */
.recipe-info-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.recipe-text-section {
  flex: 1;
  width: 60%;
}

.image-upload-container {
  width: 200px;
}

.category-container, .cooking-info-container, .ingredients-container, .steps-container {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}

/* 재료 입력 */
.ingredient-input-group, .step-input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.text-input, .text-area, .dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

/* 버튼 그룹 */
.button-group {
  display: flex;
  justify-content: space-between;
}
