.recipeInfo-container {
  display: flex;
  width: 100%;
  height: 100vh; /* 전체 화면 높이로 설정 */
  overflow: hidden; /* 전체 컨테이너에서 넘치는 내용 숨김 */
}

.recipeInfo-left {
  flex-basis: 55%;
  flex-grow: 0;
  flex-shrink: 0; /* div가 줄어들지 않도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  overflow: hidden; /* div 내에서 넘치는 내용 숨김 */
}

.recipeInfo-right {
  flex-basis: 45%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start; /* 상단 정렬 */
  align-items: flex-start; /* 좌측 정렬 */
  padding: 10px; /* 여유 공간을 추가 */
  position: relative; /* 자식 요소의 절대 위치를 위한 설정 */
}

.recipe-details {
  flex: 1; /* 윗부분 차지 */
}

.recipe-ingredients {
  flex: 1; /* 아랫부분 차지 */
}

.recipe-ingredients p {
  font-size: 2rem;
  font-weight: bolder;
}

.recipe-ingredients ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.info-left {
  background-image: url("/images/backgroundImage.png");
  background-size: cover; /* 배경 이미지가 전체 컨테이너를 덮도록 설정 */
  flex-direction: column;
  overflow: hidden; /* 오른쪽 div 내에서 넘치는 내용 숨김 */
}

.info-left p {
  font-family: "BlackswordFont";
  font-size: 5rem;
  position: absolute;
  top: 1%; /* 원하는 위치에 따라 값 조정 */
  left: 1%; /* 원하는 위치에 따라 값 조정 */
}

.info-right {
  background-image: url("/images/backgroundImage.png");
  background-size: cover; /* 배경 이미지가 전체 컨테이너를 덮도록 설정 */
  flex-direction: column;
  overflow: hidden; /* 오른쪽 div 내에서 넘치는 내용 숨김 */
}

.info-right > * {
  margin-bottom: 10%;
}

.info-right h1 {
  font-size: 4rem;
  font-weight: bolder;
  padding: 0 10px; /* 좌우 여백을 추가 */
  box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 두 줄까지 표시 */
  -webkit-box-orient: vertical; /* 수직 박스 오리엔트 설정 */
  margin: 0;
  text-align: left; /* 좌측 정렬 */
  position: absolute;
  top: 20%;
  left: 0%;
}

.recipeInfo-detail h3 {
  font-size: 1rem;
  font-weight: bold;
}

.recipe-image {
  width: 70%;
  height: auto; /* 비율을 유지하며 높이를 조정 */
  border-radius: 20%;
}

.hidden-button1 {
  display: none;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ingredient-item {
  flex: 0 0 50%; /* Each item takes up 50% of the width */
  box-sizing: border-box;
  padding: 5px;
}
