.card-div-info {
  background-image: url("/images/frame.png");
  background-size: 97% 96%; /* 이미지를 페이지 크기에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat;
}

.recipeInfo-container {
  background-size: cover; /* 배경 이미지가 전체 컨테이너를 덮도록 설정 */
  display: flex;
  flex-direction: column; /* 상단의 헤더와 좌우 컨텐츠를 분리하기 위해 컬럼 방향으로 정렬 */
  width: 100%;
  height: 100vh; /* 전체 화면 높이로 설정 */
  overflow: hidden; /* 전체 컨테이너에서 넘치는 내용 숨김 */
}

header {
  flex-shrink: 0; /* 헤더가 크기를 줄이지 않도록 설정 */
  padding: 1%;
  text-align: left; /* 좌측 정렬 */
  padding-left: 2em; /* 좌측 여백 추가 */
}

.info-badge-div {
  display: flex;
  align-items: center; /* 이미지가 제목과 수직 중앙에 정렬 */
}

.info-badge-div img {
  width: 40%;
  margin-left: 40%;
}

.recipe-info-details {
  display: flex; /* flexbox를 사용하여 이미지와 제목을 나란히 배치 */
  align-items: center;
  width: 88%;
  margin-top: 5%;
}

.recipe-info-details h1 {
  font-family: "MyCustomFont";
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 0;
  box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 최대 한 줄까지만 표시 */
  -webkit-box-orient: vertical; /* 수직 박스 오리엔트 설정 */
  text-align: left; /* 좌측 정렬 */
}

.recipe-details {
  font-size: 2em;
  font-weight: bold;
}

.recipe-left-right {
  display: flex;
  flex: 1; /* 좌우 영역이 남은 공간을 채우도록 설정 */
  width: 100%;
  overflow: hidden; /* 전체 컨테이너에서 넘치는 내용 숨김 */
}

.recipeInfo-left {
  flex-basis: 55%;
  display: flex;
  flex-direction: column; /* 수직 정렬을 위해 컬럼 방향으로 설정 */
  justify-content: flex-start; /* 상단 정렬 */
  align-items: center;
  font-size: 2em;
  overflow: hidden; /* div 내에서 넘치는 내용 숨김 */
  padding-top: 2em; /* 위쪽 패딩 값 조정 */
}

.recipeInfo-right {
  flex-basis: 45%;
  display: flex;
  justify-content: flex-start; /* 상단 정렬 */
  align-items: flex-start;
  padding: 3em 1em 1em 1em; /* 위쪽 패딩 값 조정 */
}

.recipe-image {
  width: 70%;
  height: auto; /* 비율을 유지하며 높이를 조정 */
  border-radius: 20%;
  margin-top: -20px; /* 원하는 위치에 따라 값 조정 */
  margin-right: -10%; /* 원하는 위치에 따라 값 조정 */
}

.recipe-ingredients p {
  font-family: "rider";
  font-size: 2rem;
  font-weight: 100;
}

.recipe-ingredients ul {
  font-family: "rider";
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 100;
}

.info-left,
.info-right {
  flex-direction: column;
  overflow: hidden; /* 오른쪽 div 내에서 넘치는 내용 숨김 */
}

.recipe-info-text {
  font-family: "BlackswordFont";
  font-size: 3.5rem;
  color: rgb(117, 17, 17);
  margin-bottom: 0.001em;
  padding-left: 1em;
  padding-top: 0.1em;
  text-align: left;
}

.hidden-button1 {
  display: none;
}

.info-ingredients-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info-ingredient-item {
  flex: 0 0 50%; /* Each item takes up 50% of the width */
  box-sizing: border-box;
  padding: 5px;
}
