.voice-tutorial-container {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  width: 100%;
  height: 100%;
  background-image: url("/images/voicetutorial.gif");
  background-size: cover; /* 배경 이미지가 전체 컨테이너를 덮도록 설정 */
  justify-content: center; /* 가로 정렬 */
  align-items: center; /* 세로 정렬 */
  background-position: center; /* 배경 이미지 가운데 정렬 */
  position: relative; /* for absolute positioning of children */
}

.arrow-button {
  background: none;
  border: none;
  position: absolute;
  top: 50%; /* Vertical center */
  transform: translateY(-50%); /* Adjust for exact center */
}

.prev-arrow {
  left: 10px; /* Adjust as necessary */
}

.next-arrow {
  right: 10px; /* Adjust as necessary */
}

.voicetuto-skip-button {
  float: right;
  padding: 0.6rem;
  padding-right: 1rem;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(135deg, #0d0344, #2d38cc);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  z-index: 10;
  width: 15%;
  position: absolute;
  bottom: 18%;
  right: 3.5%;
}

.voicetuto-skip-button:active {
  background: linear-gradient(135deg, #2d38cc, #0d0344);
  transform: scale(1.05);
}
