.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-wrapper h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.main-image {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.overlay-image {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}

.gradient-wrapper {
  background: linear-gradient(to bottom, #ffffff, #d3d3d3); /* 상단에서 하단으로 그라데이션 */
  padding: 20px;
  border-radius: 10px;
}

.gradient-wrapper h1 {
  font-size: 2rem;
  color: #555;
  margin: 10px 0;
}
.card-div-login {
  background: linear-gradient(to bottom, #ffffff, #a1a1a1);
  background-color: rgb(255, 255, 255);
  width: 100%; /* 수평 공간 전체를 차지 */
  padding: 20px 0; /* 상하 패딩을 늘려서 높이를 증가 */
  display: flex; /* 자식 요소 정렬을 위한 플렉스박스 */
  justify-content: center; /* 자식 요소를 수평 가운데 정렬 */
  border-radius: 50px 50px 0 0; /* 아래 두 꼭지점만 둥글게 설정 */
  height: auto; /* 높이를 패딩에 따라 유동적으로 설정 */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08), 0 -10px 15px rgba(0, 0, 0, 0.3); /* 상단 그림자 더 강조 */
}
