.base-div {
  background: #F7B05B;
  min-height: 100vh;
  padding-top: 3vh;
  box-sizing: border-box; /* 패딩 포함 높이 계산 */
  padding-bottom: 3vh;
}
.parent-container {
  display: flex;
  justify-content: center;
}
.card-div {
  background-color: rgb(255, 255, 255);
  width: 95%; /* 수평 공간 전체를 차지 */
  display: flex; /* 자식 요소 정렬을 위한 플렉스박스 */
  flex-direction: column; /* 자식 요소를 세로로 정렬 */
  justify-content: center; /* 자식 요소를 수평 가운데 정렬 */
  /* height: auto; */
  margin-bottom: 30px;
  border-radius: 40px; /* 아래 두 꼭지점만 둥글게 설정 */
  margin: 0 auto 20px;
  padding: 2rem;
  /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08), 0 -10px 15px rgba(0, 0, 0, 0.3); 상단 그림자 더 강조 */
}
.back-button {
  align-self: flex-start; /* ✅ 모바일에서도 왼쪽 정렬 유지 */
}
.new-write-button{
  background: none;
  border: none;
  align-self: flex-end;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/MyCustomFont.ttf") format("truetype"), url("/fonts/MyCustomFont-rounded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BlackSwordFont";
  src: url("/fonts/Blacksword.otf") format("truetype"), url("/fonts/Blacksword.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HakgyoansimDunggeunmisoTTF-B';
  src: url('/fonts/Hakgyoansim Dunggeunmiso TTF B.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('/fonts/온글잎 박다현체.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'insungit Cutelively jisu Regular';
  src: url('/fonts/insungit Cutelively jisu Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NPSfont_regularr';
  src: url('/fonts/NPSfont_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCC-Hanbit';
  src: url('public/fonts/KCC-Hanbit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Syongsyong-v2.0';
  src: url('/fonts/Cafe24Syongsyong-v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('/fonts/Dovemayo_gothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: "Pretendard-Regular", sans-serif;
}




/* SNS피드 작성 및 수정 글자 */
/* 글자 크기 및 종류 정할 필요가 있어요. (02.14) */
.context-h5 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* SNS피드 작성 및 수정 참고 레시피  (02.15) */
.sns-reference-recipe {
  background-color: #282828 !important;
  color: white;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

/* SNS피드 작성 및 수정 내용 넣는 부분 글자 조정 */
.feed-write-text {
  font-size: 1em;
}

/* SNS피드 참고한 레시피를 찾을 때 "내 북마크 레시피" 모달 제목 */
/* 글자 조정할 때 사용하라고 여기 일단 둠 */
.my-bookmark-modal-title {

}

/* SNS피드 작성 및 수정 페이지 타이틀 */
.sns-write-title-h2 {
  font-size: 3em;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .card-div {
    padding: 1rem;
    border-radius: 25px;
   }

  .context-h5 {
    font-size: 1.2rem;
  }

  .sns-reference-recipe {
    font-size: 0.9rem;
  }

  .feed-write-text {
    font-size: 0.9em;
  }

  .sns-write-title-h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 1rem;
  }
  
  /* 아이콘 가리기? (02.15) */
  .sns-write-title-icon {
    display: none;
    /* width: 10px; */
  }
}

/* 태블릿 세로 화면 대응 */
@media (max-width: 800px) {
  .custom-swal-popup {
    width: 80vw;
    font-size: 14px;
  }
  .card-div {
    height:85vh;
  }
}
/*모바일 세로 화면 대응*/
@media (max-width: 480px) {
  .custom-swal-popup {
    width: 80vw;
    font-size: 12px;
  }
}
/*모바일 가로 화면 대응*/
@media(max-height:500px){
  .card-div {
    height:65vh;
  }
}