.base-div {
  background: #f7b05b;
  min-height: 100vh;
  height: auto;
  padding-top: 3vh;
  box-sizing: border-box;
  padding-bottom: 3vh;
  overflow-y: auto;
}

.parent-container {
  display: flex;
  justify-content: center;
}

.card-div {
  background-color: rgb(255, 255, 255);
  width: 95%; /* 수평 공간 전체를 차지 */
  display: flex; /* 자식 요소 정렬을 위한 플렉스박스 */
  flex-direction: column; /* 자식 요소를 세로로 정렬 */
  justify-content: center;
  height: auto;
  margin-bottom: 30px;
  border-radius: 40px; /* 아래 두 꼭지점만 둥글게 설정 */
  margin: 0 auto 20px;
  padding: 2rem;
  /* overflow-y: auto; */
}
.back-button {
  align-self: flex-start; /* ✅ 모바일에서도 왼쪽 정렬 유지 */
}
.new-write-button {
  background: none;
  border: none;
  align-self: flex-end;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/MyCustomFont.ttf") format("truetype"), url("/fonts/MyCustomFont-rounded.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BlackSwordFont";
  src: url("/fonts/Blacksword.otf") format("truetype"), url("/fonts/Blacksword.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("/fonts/Hakgyoansim Dunggeunmiso TTF B.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("/fonts/온글잎 박다현체.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "insungit Cutelively jisu Regular";
  src: url("/fonts/insungit Cutelively jisu Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NPSfont_regularr";
  src: url("/fonts/NPSfont_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCC-Hanbit';
  src: url('/fonts/KCC-Hanbit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Syongsyong-v2.0";
  src: url("/fonts/Cafe24Syongsyong-v2.0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dovemayo_gothic";
  src: url("/fonts/Dovemayo_gothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Dongdong-v2.0';
  src: url('/fonts/Cafe24Dongdong-v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOYO Maple Regular';
  src: url('/fonts/SOYO Maple Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTBandocheB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gosanja';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/Gosanja.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rider";
  src: url("/fonts/BMDOHYEON_otf.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MangoDdobak-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "kcc";
  src: url("/fonts/KCC-Ganpan.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Binggrae';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Pretendard-Regular", sans-serif;
}

/* SNS피드 작성 및 수정 글자 */
/* 글자 크기 및 종류 정할 필요가 있어요. (02.14) */
.context-h5 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* SNS피드 작성 및 수정 참고 레시피  (02.15) */
.sns-reference-recipe {
  background-color: #282828 !important;
  color: white;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

/* SNS피드 작성 및 수정 내용 넣는 부분 글자 조정 */
.feed-write-text {
  font-size: 1em;
}

/* SNS피드 참고한 레시피를 찾을 때 "내 북마크 레시피" 모달 제목 */
/* 글자 조정할 때 사용하라고 여기 일단 둠 */
.my-bookmark-modal-title {
}

/* SNS피드 작성 및 수정 페이지 타이틀 */
.sns-write-title-h2 {
  font-size: 3em;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .card-div {
    padding: 1rem;
    border-radius: 25px;
    /* 임시방편 */
    overflow-y: auto;
  }

  .context-h5 {
    font-size: 1.2rem;
  }

  .sns-reference-recipe {
    font-size: 0.9rem;
  }

  .feed-write-text {
    font-size: 0.9em;
  }

  .sns-write-title-h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 1rem;
  }

  .sns-write-title-icon {
    display: none;
  }
}

/* 태블릿 세로 화면 대응 */
@media (max-width: 800px) {
  .custom-swal-popup {
    width: 80vw;
    font-size: 14px;
  }
}
/*모바일 세로 화면 대응*/
@media (max-width: 480px) {
  .custom-swal-popup {
    width: 80vw;
    font-size: 12px;
  }

  .chevron-left-back-button{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}