/* Navbar-bottom.css */

/* 기본 네브바 스타일 */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  height: 60px;
  display: flex; /* 네브바 내부를 flex 컨테이너로 */
  justify-content: center; /* 모든 아이템을 수평으로 가운데 정렬 */
  border-radius: 20px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffb74d; /* hover 색상 */
}

/* 네브바가 보이거나 숨겨지도록 */
.navbar-visible {
  transition: transform 0.3s ease;
  transform: translateY(0);
}

.navbar-hidden {
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

/* 드롭업 메뉴 스타일 */
.dropdown-menu {
  display: none; /* 기본적으로 메뉴는 숨김 */
  position: absolute;
  bottom: 100%; /* 메뉴가 상단으로 뜨도록 설정 */
  left: 0;
  z-index: 1000;
  width: max-content;
  background-color: #343a40; /* 드롭업 배경색 */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.show {
  display: block; /* 메뉴가 열릴 때 표시 */
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: #ffb74d;
}

/* navbar-section을 상대적으로 위치 지정 */
.navbar-section {
  position: relative; /* 드롭업 메뉴가 아이콘 아래에 위치할 수 있도록 상대 위치 설정 */
  display: flex;
  align-items: center; /* 세로로 중앙 정렬 */
  justify-content: center; /* 아이콘 가로로 정렬 */
  flex-grow: 1; /* 공간을 균등하게 배분 */
}

/* 기본 아이콘 스타일 */
.bi {
  font-size: 3rem; /* 기본 크기 */
  color: white;
  cursor: pointer;
  margin: 0 15px; /* 아이콘 사이의 간격을 15px로 조정 */
}

/* 버튼 스타일 */
.btn {
  margin-left: 20px; /* 로그인 버튼과 아이콘 간의 간격을 추가 */
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .navbar-section {
    justify-content: space-evenly; /* 아이콘 사이에 일정한 간격을 유지 */
  }

  .bi {
    font-size: 2.5rem; /* 화면 크기가 768px 이하일 때 아이콘 크기를 2.5rem으로 조정 */
    margin: 0 10px; /* 아이콘 간의 간격도 줄임 */
  }

  .btn {
    font-size: 0.875rem; /* 로그인 버튼 글씨 크기 줄이기 */
  }
}

@media (max-width: 576px) {
  .navbar-section {
    justify-content: space-evenly; /* 아이콘 사이에 일정한 간격을 유지 */
  }

  .bi {
    font-size: 2rem; /* 화면 크기가 576px 이하일 때 아이콘 크기를 2rem으로 설정 */
    margin: 0 5px; /* 간격을 더 좁게 설정 */
  }

  .btn {
    font-size: 0.75rem; /* 로그인 버튼 글씨 크기 더 줄이기 */
  }
}
