/* 부모 요소 정렬 */
.header-all {
  width: 95%; /* 화면 너비 전체 사용 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 20px;
}

.main-logo {
  width: 10rem;
  height: auto;
}

/* 검색바 스타일 */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
}

/* 검색 입력창과 아이콘 컨테이너 */
.search-input-wrapper {
  position: relative; /* 아이콘 위치를 위해 relative 추가 */
  width: 100%;
  max-width: 700px; /* 입력창의 최대 너비를 더 크게 설정 */
}

/* 검색 입력창 */
.search-input {
  width: 100%;
  padding: 10px 40px 10px 15px; /* 오른쪽 여백: 아이콘과 겹치지 않도록 설정 */
  font-size: 16px; /* 글씨 크기 조정 */
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box; /* 패딩 포함한 크기 조정 */
}

/* 검색 입력창 테두리 및 그림자 */
.search-input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
}

/* 검색 아이콘 스타일 */
.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ffc107; /* 노란색 아이콘 설정 */
  cursor: pointer;
}

/* 반응형 크기 조정 : 휴대폰 세로 기준 */
@media  (max-width: 500px) {
  .header-all {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-logo {
    /* 검색바와 간격 */
    margin-bottom: 10px;
  }

  .search-bar {
    width: 100%;
    justify-content: flex-start;
  }
}