/* 토글 버튼 CSS */
.toggle-button {
    position: fixed;
    bottom: 2rem;
    left: 4.5rem;
    background-color: #fff3d4;
    border-radius: 50%;
    border: none;
    width: 4rem;
    height: 4rem;
    transition: all 0.5s ease-in-out;
    user-select: none;
    z-index: 2000;
    color: #271c00;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .toggle-button:active {
    animation: growAndShrink 0.7s ease;
  }
  
  @keyframes growAndShrink {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  @media screen and (max-width:600px) {
    .toggle-button {
      left: 2rem;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.2rem;
    }
  }
  